/* Card */
.mdl-card__title {
    display: block;
}

.mdl-card__supporting-text {
    border-width: 0px;
}

.metro .mdl-card__supporting-text~.mdl-card__supporting-text,
.metro .mdl-text__content {
    border-top-width: 0px;
}

.mdl-card__img-highlight {
    box-shadow: 0px 0px 4px #ababab;
}

.mdl-card__header>* {
    padding: 10px;
}

.mdl-typography--icon-lg .mdl-icon__lg-3 {
    border: none;
    text-shadow: 0px 0px 2px #eee;
    box-shadow: none;
}

.mdl-section--page .mdl-grid>.mdl-cell:not(.mdl-card__img-highlight) {
    padding: 1em;
}

.mdl-card__header {
    padding: 80px 40px !important;
    margin: 0px;
}

/* Nav */
.is_active {
    border-bottom: 2px solid #2196F3;
}